body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

input {
  width: 3em;
  text-align: center;
  opacity: 0.75;
  border: 1px solid cornflowerblue;
  margin: 0.5em;
}

input.fraction {
  padding: 0.5em 0.5em 0.5em 1em;
  margin: 0;
}

input.responseBox {
  padding: 0.5em 0.2em 0.5em 0.2em;
}

button {
  background-color: blue;
  color: white;
  opacity: 0.75;
  margin: 1.5em 0.5em 0.5em 0.5em;
  border: none;
  padding: 0.5em;
}

p {
  line-height: 40%;

}

p.big {
  font-size: 24px;
}

section {
  background-color: white;
  text-align: center;
  padding: 0.5em;
  border: 1px solid cornflowerblue;
  border-radius: 2px;
  margin: 0.5em;
}

section.flexOuter {
  border: 1px solid gainsboro;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

section.flexInner {
  flex: 1 1 16%;
}

article {
  background-color: white;
  text-align: center;
  padding: 0.75em 0.5em 0.5em 0.5em;
  border: 1px solid cornflowerblue;
  border-radius: 2px;
  margin: 0.5em;
}

article.flexFracOuter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 1 1 16%;
  margin: 0.5em;
}

article#invisibleFlexFracOuter {
  border: none;
}

article.flexFracInner {
  flex: 1 1 16%;
  border: none;
  margin: 0;
  padding: 0;
}
div.floatdiv {
  float: left;
}
